     {% load i18n %}
     {% load staticfiles %}

     <!-- ENHANCEMENT PLUGINS : NOT A REQUIREMENT -->
     <!-- PAGE RELATED PLUGIN(S) -->
    
     
     <script src="{% static 'vendor/nprogress/nprogress.js' %}"></script>
     <!-- iCheck -->
    <script src="{% static 'vendor/iCheck/icheck.min.js' %}"></script>
    <!-- Datatables -->
    <script src="{% static 'vendor/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'vendor/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'vendor/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'vendor/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'vendor/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src="{% static 'vendor/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'vendor/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script src="{% static 'vendor/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
    
    
    <!-- bootstrap-daterangepicker -->
    <script src="{% static 'vendor/moment/min/moment.min.js' %}"></script>
    
     <!-- bootstrap-daterangepicker -->
    
    <script src="{% static 'vendor/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
    <!-- bootstrap-datetimepicker -->    
    <script src="{% static 'vendor/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
    
     <script src="{% static 'vendor/bootstrap-confirmation/bootstrap-confirmation.min.js' %}"></script>
    
    <script src="{% static 'vendor/Chart.js/dist/Chart.min.js' %}"></script>
    
   
    <!-- ECharts -->
    <script src="{% static 'vendor/echarts/dist/echarts.min.js' %}"></script>
   
    
    <script src="{% static 'vendor/bootstrap-select/bootstrap-select.js' %}"></script>
    
     <script src="{% static 'js/gcase.js' %}"></script>
    
   
     
        
    
