     {% load i18n %}
     {% load staticfiles %}

     
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'vendor/nprogress/nprogress.css' %}">
        <!-- iCheck -->
    	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'vendor/iCheck/skins/flat/green.css' %}" >
    	<!-- Datatables -->
   	 	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'vendor/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
   	 	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'vendor/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}">
   	 	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'vendor/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}">
   	 	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'vendor/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}">
   	 	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'vendor/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}">
   	 	<!-- bootstrap-daterangepicker -->
    	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'vendor/bootstrap-daterangepicker/daterangepicker.css' %}">
    	<!-- bootstrap-datetimepicker -->
    	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'vendor/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css' %}">
   	 	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/custom.css' %}" >
   	 	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/gcase.css' %}" >
   	 	
    	
    	
 
        
        

   